.navigation {
    background-color: #234242;
    padding: 3px 0;
    margin: 30px 0;
}

.navigation__list {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.navigation__listItem {
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid rgba(0, 0, 0, 0.178);
    padding: 10px;
}

.navigation__link {
    color: #8af5f594;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 2px solid #8af5f594;
}

.navigation__link:focus {
    outline: 2px solid currentColor;
}

.navigation__link:hover {
    color: #0f1b1b;
    border-bottom: 3px solid #0f1b1b;
    outline: none;
}

.navigation__link:active {
    color: #1b5658;
}

.navigation--contrast {
    background-color: #000;
}

.navigation__link--contrast {
    color: yellow;
    border-bottom: 2px solid yellow;
}
